/CasperAPI/build/
/CasperAPI/nbproject/private/
/System/build/
/Project/build/
/System/nbproject/private/
/Project/nbproject/private/
/EXT-exiftool/build/
/EXT-exiftool/nbproject/private/
/EXT-gdal/nbproject/private/
/EXT-imagemagick/nbproject/private/
/EXT-gdal/build/
/EXT-imagemagick/build/
/build/
/Core/build/
/LIB-Geotools/build/
/LIB-Hibernate/build/
/sqlite-jdbc/build/
